* {
  margin: 0;
  padding: 0;
}
:root.dark {
  --background-color: black;
}
:root.light {
  --background-color: white;
}
body {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.sidebar {
  position: relative;
}
img {
  height: 100%;
}
.logo-container {
  position: absolute;
  top: 200px;
  width:100%;
  color: white;
  background-color: black;
  opacity: .4;
}
h1 {
  opacity: 1;
}