* {
  margin: 0;
  padding: 0;
}
:root {
  --sidebar-width: 300px;
}
:root.dark {
  --background-color: black;
}
:root.light {
  --background-color: white;
}
body {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.sidebar {
  position: relative;
  width: var(--sidebar-width);
  display: flex;
  justify-content: flex-end;
}
.sidebar-background {
  height: 100%;
  position: absolute;
  z-index: -2;
}
.logo-container {
  position: absolute;
  top: 200px;
  width:100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.background-shade {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .5;
  z-index: -1;
}
.logo {
  height: 100px;
  padding: 10px 0;
}
.logo-title {
  font-size: 50px;
}
