@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&display=swap');
* {
  padding: 0;
  margin: 0;
}
:root {
  font-family: 'BIZ UDMincho', serif;
  --sidebar-width: clamp(350px, 40%, 500px);
}
:root.dark {
  --background-color: black;
  --text-color: white;
  --logo-background: white;
}
:root.light {
  --background-color: white;
  --text-color: black;
  --logo-background: black;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.sidebar {
  position: relative;
  min-width: var(--sidebar-width);
  display: flex;
  justify-content: flex-end;
}
.sidebar-background {
  height: 100%;
  position: absolute;
  z-index: -2;
}
.logo-container {
  position: absolute;
  top: 200px;
  width:100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.background-shade {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .5;
  z-index: -1;
}
.logo {
  height: 100px;
  padding: 10px 0;
}
.logo-title {
  font-size: 85px;
  margin-left: 15px;
}
.content {
  width: 100%;
  height: 100vh;
  min-width: 300px;
  padding: 0 15px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  width: clamp(300px, 70%, 450px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
fieldset {
  border: none;
}
ul {
  list-style-type: none;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
li {
  width: 200px;
  display: flex;
  flex-direction: column;
}
label {
  font-size: .9rem;
  color: rgb(82, 82, 82);
}
input {
  border: 1px solid rgb(82, 82, 82);
  border-radius: 5px;
  height: 1.5rem;
  padding-left: 5px;
}
input:not(:placeholder-shown):not(:focus):invalid {
  background-color: #d27e97;
  color: white;
}
button[type="submit"] {
  align-self: flex-start;
  color: white;
  background-color: #d27e97;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  transition: .1s;
}
button:hover {
  transform:scale(1.1);
  background-color: #6ac1d2;
}
button:active {
  color: #d27e97;
  border-color: #d27e97;
}
.login-link {
  width: clamp(300px, 70%, 450px);
  padding-top: 20px;
  text-align: start;
}
a {
  color: #6ac1d2;
}